<div class="padding15rem">
    <div fxFlex="100" fxLayout="column" fxLayoutGap="2rem">
        <div fxLayout="row">
            <div fxFlex="20">Crossover Notes:</div>
            <div fxFlex="80">{{speakerDetails.crossoverNotes}}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="20">Speaker Notes:</div>
            <div fxFlex="80">{{speakerDetails.speakerNotes}}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="20">Cabinet Notes:</div>
            <div fxFlex="80">{{speakerDetails.cabinetNotes}}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="20">Photo:</div>
            <div fxFlex="80">{{speakerDetails.photo}}</div>
        </div>
    </div>
</div>